
body {
    font-family: Garamond, sans-serif;
    overflow-x: hidden; 
    background-color: #000000;     
}


header {
    background-image: url(thunder_lake_1.png);
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
    background-size: 100% 100%;
    height: 600px; 
    margin-left: -8px;
    margin-right: -8px

}




#header-text {
    text-align: center;
    width: 100%;
    color: #FDFCFC;
    margin-top: -10px; 
    font-size: 50px; 
}


#deros-image {
    border-radius: 50%;
    max-width: 200px; 
    margin-top: 90px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
	
	background-image: url(thunder_lake_1.png);
	background-size: cover;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	z-index: 1
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    border: 1px solid #fff; 
    padding: 5px 10px; 
} 



nav a:hover, nav a:focus {
    
    color: #DC143C;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid #DC143C;
    border-top: 2px solid #DC143C;
    border-left: 2px solid #DC143C;
    border-right: 2px solid #DC143C;
    font-size: 120%;
}


/*
main {
    background-color: #000000;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
*/


section {
    margin: 50px;
    color: #FDFCFC;

}

section h2,
section p,
section ul,
section li,
section a {
    text-align: center;
    margin: 10px;
}




h2 {
    font-size: 30px;
}



#intro p {
    line-height: 2.5; /* interlinea*/
}


#intro p:hover, #intro p:focus {
    color: #DC143C;
}

#intro{
    margin-top: 100px; /* margine sopra*/
}


#AIArt{
    margin-top: 100px;
}




.row {
  text-align: center; 
}

.container {
            position: relative;
            display: inline-block;
        }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    pointer-events: none;
    text-align: center
}

.container:hover .overlay, .container:focus .overlay {
    opacity: 1;
}
.container img {
    cursor: pointer;
    width: 200px; 
    height: auto;
    margin: 10px;
}

.container:hover img, .container:focus img {
transform: scale(1.1); 
}

/*
.container:focus .overlay {
  visibility: visible;
}
*/

#portfolio{
            margin-top: 100px;
        }

#cv{
    margin-top: 100px;
}

#cv a:hover, #cv a:focus {
    color: #DC143C;
    font-size: 120%;
}




#contact {
    text-align: center;
    margin-top: 100px;
}

#contact a {
  margin-bottom: 10px ;
  display: inline-block;
  /* border-radius: 50%; */
  /*max-width: 24px */
}

#contact a:hover, #contact a:focus {
    color: #DC143C;
    font-size: 140%;
}









footer {
    text-align: center;
    padding: 10px;
    background-image: url(thunder_lake_1.png);
    background-size: 100% 100%;
    color: #fff;
}


 